body 
{background-image:linear-gradient( rgb(255, 244, 95), rgba(58, 228, 250, 0.801) );
background-size: cover;
margin-left: 0px;
margin-right: 0px;
margin: 0;
padding: 0;
}


h1 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(6, 129, 33);
   text-align: center; 
font-size: 70px;
text-decoration: underline 5px;
text-transform: uppercase;

}

h2 {text-align: center;
color: rgb(6, 129, 33);
text-decoration: underline 3px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-transform: uppercase;

}

.title {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(6, 129, 33);
text-align: center;
text-decoration: none;}

   div {padding-left: 20px;
    padding-right: 20px;}

    p {color: rgb(6, 129, 33);
   padding-left: 400px;
   padding-right: 400px;
        text-align: center;
      padding-top: 20px;
   font-size: 20px;}

        a {color: rgb(6, 129, 33);
      
   text-decoration:none
}



      li a {color: rgb(255, 244, 95);
      font-size: 35px; 
      padding: 120px;
         
   }


      
ul li {display: inline-block;}


      

   img {padding-left: 330px;
   padding-bottom: 200px;
width: 700px;}



.image2 {width: 700px;
   
}

 .geography h2 {text-decoration: none;}

 .image3 {padding-left: 340px;}

 .culture h2 {text-decoration: none;}

 ol {
font-size: 30px;
color: rgb(6, 129, 33);
padding-top: 10px;
text-align: center;
list-style: none;
line-height: 50px;
}

nav {background-image: url(https://t3.ftcdn.net/jpg/05/08/20/38/360_F_508203837_vTF3rGh3B3ONXpOAmpE8hmduhW9DGcv9.jpg);
padding:40px;
margin-top: 0px;
}

footer {background-image: url(https://t3.ftcdn.net/jpg/05/08/20/38/360_F_508203837_vTF3rGh3B3ONXpOAmpE8hmduhW9DGcv9.jpg);
height: 100px;
color: rgb(255, 244, 95);
font-size: 50px;
text-align: center;
}

.epilogue p {color: rgb(6, 129, 33);
padding-bottom: 100px;
font-size: 30px;}
   

 
